/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #302d2d;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../../assets/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../../assets/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FrutigerLTStd';
  src: url('../../assets/fonts/FrutigerLTStd/FrutigerLTStd-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FrutigerLTStd';
  src: url('../../assets/fonts/FrutigerLTStd/FrutigerLTStd-Black.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FrutigerLTStd';
  src: url('../../assets/fonts/FrutigerLTStd/FrutigerLTStd-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.modal-wrapper {
  width: 560px;
  height: 520px;
}

.modal {
  background: white;
  height:100%;
  width:100%;
  border-radius: 5px;
  padding: 15px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
  padding-top: 10px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  /* background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  ); */
  overflow-y: hidden;
  font-family: sans-serif;
  margin: 0px;
}

._container {
  height: 100vh;
}

.right-deco {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  backdrop-filter: blur(5px);
  /* background-color: rgba(44, 24, 75, 0.1), */
}

.image-container {
  width: 100px; /* Set the desired width */
  border: 5px solid var(--primary-color); /* Add a solid black border */
  border-radius: 20%; /* Add rounded corners to the border */
  overflow: hidden; /* Hide any content that exceeds the container */
}

.heading {
  font-size: 40px;
  font-weight: bold;
}

button.primary-btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.1rem;
  box-shadow:
    0px 8px 28px -6px rgb(58, 55, 61),
    0px 18px 88px -4px rgb(0, 76, 255);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
  color: azure;
}

button.primary-btn:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
